<% if (attendees && attendees.length && connection && connection.userId === {{ app.user.id }} && obj.use_other) { %>
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    <% var otherCallOptions = {
        calendarEvent: obj,
        ownerUserId: {{ app.user.id|json_encode|raw }},
        declinedStatus: {{ constant('Oro\\Bundle\\CalendarBundle\\Entity\\Attendee::STATUS_DECLINED')|json_encode|raw }},
otherOptions: {
            widget_size: 70
        }
    }; %>
    {% set otherButton %}
        <div data-action-name="other-call"
             data-page-component-module="oroothercall/js/app/components/calendar-event-start-other-component"
             data-page-component-options="<%- JSON.stringify(otherCallOptions) %>" class="action"></div>
        </div>
    {% endset %}
    {{ UI.renderAttribute('oro.othercall.label'|trans, otherButton) }}
<% } %>
