<strong><%= _.__('oro.othercall.start_other_dialog.content_intro', {}, invites.length) %>:</strong>

<% if (invites.length) { %>
    <table class="invite-other-modal-participants">
    <% _.each(invites, function(item) { %>
        <tr>
            <td class="invite-other-modal-participant-name"><%- item.name %></td>
            <td class="invite-other-modal-participant-id"><%- item.id %></td>
        </tr>
    <% }) %>
    </table>
<% } %>

<p class="invite-other-modal-note">
    <%= _.__('oro.othercall.start_other_dialog.content_note') %>
</p>
